/* 
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
} */
h1 {
    margin-bottom: 20px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input[type="text"], input[type="email"], input[type="file"], button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}
button:hover {
    background-color: darkorange;
}
#avatarPreview {
    margin-bottom: 20px;
}
#avatarImg {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
}

/* body {
    font-family: 'Single Day', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
} */

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="text"], input[type="email"], input[type="file"], button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: orange;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: darkorange;
}

#avatarPreview {
    margin-bottom: 20px;
}

#avatarImg {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
}
