.feedback-list{
    width: 100%;
    overflow-x: hidden;

}
.carousel-item{


}
.cards {
    width: 80%;
    padding: 40px;
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
    height: 600px;

}
.cards .card{
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    border: none;
    outline: none;
    display: block;

}

.cards .card .card-img {
    width: 100%;
    text-align: center;
    height: 200px;

    img{
        width: 200px;
        height: 200px;
        object-fit: cover;
    }


}

.cards .card .card-content{
    width: 100%;
    margin-top: 20px;
    padding: 5px 20px;

    .rating{
        width: 100%;
        text-align: center;
        img{
        width: 30px;
        }

    }
}

.user-name-feedback{
    font-size: large;
    font-weight: 700;
    text-transform: capitalize;
    margin: 10px ;
    text-align: center;
}

.feedback-content{
    text-align: center;
    color: darkgray;
    font-size: small;
}