.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    font-family: "Single Day", cursive;
}

#food-detail {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 20px;
    width: 100%;
}

#food-detail video, #food-detail img {
    width: 500px; /* Tăng kích thước ảnh */
    height: 500px;
    object-fit: cover;
    margin-right: 20px;
}

#food-info {
    flex: 1;
}

#comments-section {
    flex: 1;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

#comments-section ul {
    max-height: 300px;
    overflow-y: auto;
    padding: 0;
    list-style-type: none;
    margin: 0;
    font-size: 14px; /* Giảm kích thước font chữ bình luận */
}

#comment-form {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#comment-form input[type="text"] {
    flex: 1;
    padding: 8px; /* Giảm padding */
    margin-right: 10px; /* Khoảng cách giữa ô nhập và nút thêm */
    font-size: 14px; /* Kích thước font chữ cho ô nhập */
}

#comment-form button {
    width: 80px;
    padding: 8px; /* Giảm padding */
    font-size: 14px; /* Kích thước font chữ cho nút */
}

#comments-section h3 {
    text-align: left;
}

.comment-item {
    background-color: #f9f9f9;
    padding: 8px; /* Giảm padding */
    margin-bottom: 5px;
    border-radius: 5px;
    font-size: 14px; /* Giảm kích thước font chữ bình luận */
}

/* Styling for the container holding both image and comments */
#food-content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#food-image {
    margin-bottom: 20px;
}

#food-details-below {
    flex: 1;
    width: 100%;
}
#comment-form {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#comment-form input[type="text"] {
    flex: 1;
    padding: 8px; /* Giảm padding */
    margin-right: 10px; /* Khoảng cách giữa ô nhập và nút thêm */
    font-size: 14px; /* Kích thước font chữ cho ô nhập */
}

#comment-form button {
    width: 40px; /* Kích thước của nút thêm hình ảnh */
    height: 40px; /* Kích thước của nút thêm hình ảnh */
    padding: 0; /* Loại bỏ padding */
    border: none; /* Loại bỏ border */
    background: none; /* Loại bỏ background mặc định */
}

#comment-form button img {
    border: #f9f9f9;
    border-radius: 50%;
    height: 50px;
    width: 50px;

}

