.footer {
  background-color: #222;
  color: #fff;
  padding: 20px;
  font-family: "Single Day", cursive;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-logo {
  margin-right: 12px; /* Khoảng cách giữa logo và feedback */
}

.footer-logo img {
  max-width: 180px; /* Kích thước tối đa của logo */
  border-radius: 50%;
  text-align: center;
}
.footer-info{
  text-align: center;
}
.footer-feedback {
  max-width: 400px; /* Chiều rộng tối đa của phần feedback */
  text-align: left; /* Căn trái nội dung bên trong feedback */
  display: flex;
  flex-direction: column;
  gap: 10px; /* Khoảng cách giữa các phần tử bên trong feedback */
}

.footer-feedback h4 {
  margin-bottom: 15px; /* Khoảng cách dưới tiêu đề */
}

.footer-feedback form {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Khoảng cách giữa các trường nhập liệu */
}

.footer-feedback .form-control {
  padding: 10px; /* Khoảng cách bên trong các trường nhập liệu */
}

@media (max-width: 767px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-logo {
    margin-bottom: 10px; /* Khoảng cách dưới logo trên thiết bị di động */
  }

  .footer-feedback {
    margin-left: 0; /* Loại bỏ margin-left trên thiết bị di động */
    width: 300px; /* Đảm bảo feedback không quá rộng trên thiết bị di động */
  }
}
.footer-feedback button {
  background-color: #f39c12; /* Màu nền của nút */
  border: 1px solid #e67e22; /* Màu viền của nút */
  color: #fff; /* Màu chữ trên nút */
  padding: 10px 20px; /* Khoảng cách bên trong nút */
  border-radius: 5px; /* Bo góc của nút */
  font-size: 16px; /* Kích thước chữ trên nút */
  cursor: pointer; /* Con trỏ khi di chuột lên nút */
  transition: background-color 0.3s, border-color 0.3s; /* Hiệu ứng chuyển màu */
}

.footer-feedback button:hover {
  background-color: #e67e22; /* Màu nền của nút khi di chuột qua */
  border-color: #d35400; /* Màu viền của nút khi di chuột qua */
}
