.title {
    font-family: "Single Day", cursive;
    font-size: 24px;
    font-weight: bold;
    margin: 30px;
    text-align: center;
  }
  .title1{
    font-family: "Single Day", cursive;
    font-size: 24px;
    font-weight: bold;
    margin: 30px;
    text-align: center;
  }
  
  .form {
    font-family: "Single Day", cursive;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .form1{
    font-family: "Single Day", cursive;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .menu_type{
    font-family: "Single Day", cursive;


  }
  input[type="text"],
  input[type="password"],
  textarea, select {
    font-family: "Single Day", cursive;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  textarea {
    height: 300px;
  }
  
  button {
    font-family: "Single Day", cursive;
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
  }
  
  button:hover {
    background-color: #555;
  }
  .menu-link,
  .about-link,
  .home-link {
    font-family: "Single Day", cursive;
  }